<nav class="navbar navbar-inverse bg-inverse" role="navigation" style="background-color: black;"> 
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">Real Planets</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/planets">Buy</a></li>
			<li><a href="/planetsforrent">Rent</a></li>
			<li><a href="/">Selling a Planet?</a></li>
			<li><a href="/rent">Leasing out?</a></li>

		</ul>
</nav>