<nav class="navbar navbar-default" role="navigation"> 
		<div class="navbar-header">
			<a class="navbar-brand" href="/home">Real Planets</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/planets">Planets</a></li>
			<li><a href="/">Index</a></li>
		</ul>
</nav>