<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body style="background-color:black;">
        <header>
            <% include ../partials/header %>
        </header>
        <div class="bd-masthead" style="text-align: center; align-content: center; background-image: url(https://images.pond5.com/simple-star-space-background-effect-footage-023768280_prevstill.jpeg); color: #ecf0f1; height: 100vh; padding-top: 20%;">
            <h1 class="display-3">Real Planets</h1>
            <p class="lead">Real Estate for Real Planets. Join the market of the future today.</p>
        </div>
        <div class="container"> 

        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>