<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body style="background-color: black">
        <header>
            <% include ../partials/header %>
        </header>
        <div class="bd-masthead" id="home">
            <h1 class="display-3">Real Planets</h1>
            <p class="lead">Real Estate for Real Planets. Join the market of the future today.</p>
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>