<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body style="background-color: black">
        <header>
            <% include ../partials/header %>
        </header>
        <div class="bd-masthead" id="listing">
            <h1 class="display-3">Listing a planet?</h1>
            <p class="lead">What is your planet listed for?</p>
                <a href="/sell" class="btn btn-secondary" role="button" id="listBtn"> For Sale </a>
                <a href="/rent" class="btn btn-secondary" role="button" id="listBtn"> For Rent </a>
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>